.bankrot__form {
  .v-row {
    margin: 0;
    padding: 0.3em 0;
  }

  .v-col {
    padding: 0 10px 0 0;
  }
}

.v-table > .v-table__wrapper > table > tbody > tr > td, .v-table > .v-table__wrapper > table > tbody > tr > th, .v-table > .v-table__wrapper > table > thead > tr > td, .v-table > .v-table__wrapper > table > thead > tr > th, .v-table > .v-table__wrapper > table > tfoot > tr > td, .v-table > .v-table__wrapper > table > tfoot > tr > th {
  padding: 0 2px !important;
}

//.v-stepper-header {
//  overflow-x: hidden !important;
//}


